

.controle {
  position: fixed;
  border: solid 2px red;
  top: 480px;
  z-index: 8;
}
@media (max-width: 900px) {

}
@media (max-width: 600px) {
  #tras:hover{
    background-color: gold;
  }
  #frente:hover{
    background-color: gold;
  }
  #pular:hover{
    background-color: gold;
  }
  #soco:hover{
    background-color: gold;
  }
}
@media (max-width: 300px) {
  #tras:hover{
    background-color: gold;
  }
  #frente:hover{
    background-color: gold;
  }
  #pular:hover{
    background-color: gold;
  }
  #soco:hover{
    background-color: gold;
  }
  
}