*{
  box-sizing: border-box;
  width: 100%;
 
}
body{
  display: flex;
  flex-direction: column;
  background-color: black;
  overflow: hidden;
}
.container{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 240px;
  height: 170px;
 
}

p{
  color:aliceblue;
}
#loading{
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 6;
}

.pai-iori{
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 200px;
  height: 150px;
  top: 30%;
  left: 40%;
  border: solid red;
  background-color: rgba(0, 255, 255, 0.352);
  backdrop-filter: blur(20%);
  z-index: 3;
}
#game{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  
}
.pai-cenario {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 160px;
  top:120px;
  zoom: 1.5;
  z-index: 1; 
}
.pai-kyo {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100px;
  height: 120px;
  top: 100px;
  left: 135px;
}

.kyo {
  position: relative;
  z-index: 2; 
  background: url('../img/kyo.png') -10px 0;
  margin: 0px 0px;
  cursor: pointer;
  transform: scale(2);
  top: 130px;
  left: 235px;
}

.pai-inimigo {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 150px;
  height: 150px;
  top: 220px;
  left: 220px;
}

.inimigo {
  position: relative;
  width: 150px; 
  height: 150px;
  background: url('../img/inimigo.png') no-repeat; 
  background-size: cover;
  z-index: 2;
}
.kyo, .inimigo {
  border: 2px solid red; 
}
.virar{
  transform: scaleX(-1) rotate(360deg) scale(2);;
  
}
.cenario {
  position: relative; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  z-index: 1; 
  background: url('../img/cenario.jpg'); 
}
#tras:hover{
  background-color: gold;
}
#frente:hover{
  background-color: gold;
}
#pular:hover{
  background-color: gold;
}
#soco:hover{
  background-color: gold;
}
details {
  color: #ffffff;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  cursor: pointer;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
  color: #ffffff;
}
.menu {
  position: absolute;
  background-color: rgb(3 3 3 / 58%);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  z-index: 5;
}

.menu h1 {
  margin: 20px;
}

.menu button {
  margin: 10px;
  padding: 10px 20px;
  background-color: rgba(250, 237, 237, 0.584);
  font-size: 16px;
  cursor: pointer;
}
.sprite-pai {
  position: absolute;
  width: 1818px; 
  height: 10222px; 
  z-index: 3;
}
.kyo-x {
  position: relative;
  width: 90px; 
  height: 160px;
  top: 10px;
  left: 300px;
  margin: 0px 0px;
  cursor: pointer;
  z-index: 5;
}