*{
  box-sizing: border-box;
  width: 100%;
 
}
body{
  display: flex;
  flex-direction: column;
  background-color: black;
}
.container{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 240px;
  height: 170px;
 
}
.controle{
  display: grid;
  grid-template-columns: 70px 70px;
  grid-row: 3;
  position: relative;
  width: 240px;
  height: 170px;
 
}
.card-1:hover,.card-2:hover, .card-3:hover{
  border-radius: 30px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card-1{
  display: inline-block;
  background: url(avatarsprites.png) 115px 170px;
  margin-top: 30px;
  border: dashed 2px red;
  cursor: pointer;
}
.card-2{
  display: inline-block;
  background: url(avatarsprites.png) -105px 170px;
  margin-top: 30px;
  cursor: pointer;
}
.card-3{
  display: inline-block;
  background: url(avatarsprites.png) -230px 170px;
  margin-top: 30px;
  cursor: pointer;
}
p{
  color:aliceblue;
}
#container-0{
  display: block;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.container-2{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 120px;
  height: 120px;
 
}
.container-3{
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 200px;
  height: 150px;
  top: 30%;
  left: 40%;
  border: solid red;
  background-color: rgba(0, 255, 255, 0.352);
  backdrop-filter: blur(20%);
  z-index: 3;
}
.kyo{
  background: url(kyo.png) -10px 0;
  transform: translateX(1em);
  margin: 0px 0px;
  cursor: pointer;

}

#tras:hover{
  background-color: gold;
}
#frente:hover{
  background-color: gold;
}
#pular:hover{
  background-color: gold;
}
#soco:hover{
  background-color: gold;
}
.iori-1{
  background: url(iori.png) 66px 270px;
  margin: 0px 0px;
  border: dashed 1px red;
  padding: 5px;
  cursor: pointer;
}

.iori-2{
  background: url(iori.png) 66px 540px;
  margin: 0px 0px;
  border: dashed 1px red;
  padding: 5px;
  cursor: pointer;
}
.iori-3{
  background: url(iori.png) 66px 830px;
  margin: 0px 0px;
  border: dashed 1px red;
  padding: 5px;
  cursor: pointer;
}
.iori-1:hover,.iori-2:hover,.iori-3:hover{
  border: solid 2px gold;
  background-color: teal;
}
.iori-1:active,.iori-2:active,.iori-3:active{
  background-color: red;
}